:root {
  --app-color-base: #333333;
  --app-color-muted: #b4b4b4;
  --app-color-contrast: #e8f5fb;
  --app-color-primary: #004a6d;
  --app-color-accent: #e40e2062;
  --app-color-success: #4caf50;
  --app-color-warning: #ffc107;
  --app-color-error: #f44336;

  --app-padding: 10px;
  --app-input-height: 30px;
  --app-border-radius: 5px;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-color-base);
  margin: var(--app-padding);
}

#login-form > label {
  display: block;
  margin-bottom: calc(var(--app-padding) / 2);
}

#login-form > input {
  box-sizing: border-box;
  width: 220px;
  padding: 0 var(--app-padding);
  height: var(--app-input-height);
  margin-bottom: var(--app-padding);
  border: 1px solid var(--app-color-muted);
  border-radius: var(--app-border-radius);
}

#login-form > input:focus {
  outline: none;
  border: 1px solid var(--app-color-primary);
}

#login-form > input:disabled {
  background-color: var(--app-color-muted);
}

#login-form > button {
  width: 100px;
  height: var(--app-input-height);
  padding: 0 var(--app-padding);
  border: 1px solid var(--app-color-primary);
  border-radius: var(--app-border-radius);
  background: var(--app-color-contrast);
  color: var(--app-color-primary);
  font-weight: bold;
  transition: all ease 0.2s;
}

#login-form > select {
  width: 100px;
  height: var(--app-input-height);
  padding: 0 var(--app-padding);
  border: 1px solid var(--app-color-primary);
  border-radius: var(--app-border-radius);
  color: var(--app-color-primary);
}

#login-form > button:not(:disabled):hover {
  background: var(--app-color-primary);
  color: var(--app-color-contrast);
}

#login-form > button:disabled {
  opacity: 0.5;
}

fieldset {
  margin-top: var(--app-padding);
  border: 1px solid var(--app-color-accent);
  border-radius: var(--app-border-radius);
}

legend {
  color: var(--app-color-primary);
}

li {
  font-weight: bold;
  color: var(--app-color-primary);
}

li > div {
  font-size: 0.8em;
  font-weight: normal;
}

.talking {
  color: var(--app-color-success);
  transition: all ease 0.2s;
}
